@import '../../sass/colors';
@import '../../sass/mixins';

$max-width: 390px;
$height: 67px;
$border-radius: 40px;

.button {
	background-color: $primary;
	height: $height;
	width: -webkit-fill-available;
	max-width: $max-width;
	border: 0;
	border-radius: $border-radius;
	@include font-regular();

	&:hover {
		background-color: $primary-300;
		color: $primary-200;
	}
}
