@import '../../sass/mixins';

.top {
    display: flex;
    justify-content: space-between;
    width: -webkit-fill-available;

    @include icon-medium();
}

.top > .settings {
    fill: none;
}

.top.top-settings {
    justify-content: flex-end;
}